/* *,
*:before,
*:after {
    box-sizing: border-box;
} */

::-webkit-scrollbar {
    display: none;
}

ul {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 55%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.hide {
    display: none;
}

ul li {
    font-family: monospace;
    font-size: larger;
    font-weight: 600;
    color: #6f5e5e;
    padding: 10px 16px;
    border-bottom: 2px dotted rgba(128, 128, 128, 0.38);
}

li:last-child {
    /*border-bottom: none*/
}

li:hover {
    color: white;
    opacity: .5;
    background: linear-gradient(to bottom, #0099ff 11%, #3fb8f5 97%);
}

.header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #EAEAEA;
    color: grey;
    height: 7% !important;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.53);
    background: linear-gradient(to bottom, white, gray);
}

.user-name {
    margin-left: 20%;
    margin-top: -14%;
    font-weight: 600;
}

.header-content {
    /*margin-top: .5%;*/
}

.search-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e003" !important;
}

.window-ops-div {
    padding-top: 1.2% !important;
    /* height: 100%; */
    float: left;
    width: 10%;
    padding-top: 0.3%;
    margin-left: 1%;
}

.user-logo-div {
    float: left;
    width: 10%;
}

.header-name-div {
    margin-top: 8px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 20%;
    float: left;
    width: 40%;
    font-size: larger;
    float: left;
    width: 40%;
}

.user-icon {}

.search-div {
    float: right;
    margin-right: 3%;
    width: 11%;
    /* height: 100%; */
    padding-top: 2.8%;
}

.search-input {
    float: left;
    margin: -25px 0 0 8px;
    /* font: 8pt Verdana; */
    color: #6f5e5e;
    height: 20px;
    line-height: 18px;
    padding: 0;
    background: white;
    border: 1px solid gray;
    border-bottom-left-radius: 9px;
    max-width: 125px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background: #ffffff;
}

.save {
    z-index: 9999;
    position: fixed;
    border-radius: 50%;
    padding: 7px;
    background: #c7e0f1;
    font-family: cursive;
    border: 1px solid gray;
    color: gray;
    margin-top: -25px;
    margin-left: 19%;
    font-size: large;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltiptext {
    margin-top: -6px;
    margin-left: -133px;
    /* margin-top: 28px;
    margin-left: -72px; */
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.save:hover {
    border: none;
    background: black;
    color: chartreuse;
}

.save:focus {
    outline: 0 !important;
}

.red-header-btn {
    height: 10;
    width: 8%;
    border-radius: 50%;
    float: left;
    background-color: #FF8A87;
    color: white;
}

.green-header-btn {
    padding-left: 3px;
    height: 10;
    width: 8%;
    border-radius: 50%;
    float: left;
    background-color: #9DD783;
    color: white;
    margin-left: 4% !important;
}

.yellow-header-btn {
    height: 10;
    width: 8%;
    border-radius: 50%;
    float: left;
    background-color: #FAD592;
    margin-left: 4% !important;
    color: white;
}

.syncing {
    margin-left: 20%;
    font-size: 10px;
    font-style: oblique;
}

.nav-bar {
    float: left;
    width: 25%;
}

.body-content {
    /*box-shadow: 0px -0.5px 6px 1px rgba(126, 62, 37, 1);
    -moz-box-shadow: 0px -0.5px 6px 1px rgba(126, 62, 37, 1);
    box-shadow: 0px -0.5px 6px 1px rgba(126, 62, 37, 1);*/
    background-image: url(../img/woodbg.jpg);
    background-repeat: no-repeat;
    float: left;
    width: 75%;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.main-body {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.53);
    border-radius: 4px;
    /* border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; */
    width: 100%;
    height: 100%;
}

.current-tasks-div {
    height: 100%;
    float: left;
    width: 40%;
}

.task-add-div {
    height: 100%;
    width: 60%;
    float: left;
}

.task-add-content {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.75);
    background-color: #e1e1e1;
    width: 90%;
    margin-left: 4%;
    margin-top: 7%;
    height: 90%;
    border-radius: 6px;
}

.sm-star {
    color: #A1B5C3;
    padding-left: 9px;
}

.add-item-btn {
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.87);
    color: white;
    width: 90%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 4%;
    font-family: monospace;
    font-weight: bold;
    border-radius: 5px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.26);
    border: none;
}

::-webkit-input-placeholder {
    color: #D0D0D0;
    opacity: 1;
}

.user-name-div {
    padding-top: 10px;
    margin-top: 4px;
    width: 10%;
    float: left;
    /* height: 91%; */
}

.f-list {
    margin-top: -7%;
    margin-left: 11%;
}

.add-icon {
    opacity: .5;
}

.note-item-btn {
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.87);
    color: white;
    margin-left: 10%;
    margin-top: 10%;
    padding: 4%;
    font-family: monospace;
    font-weight: bold;
    border-radius: 5px;
    background: transparent;
    background-color: #C7E0F1;
    border: none;
    width: 81%;
    height: 5%;
}

.note-mak {
    padding-left: 20px;
    float: left;
    color: rgba(0, 0, 0, 0.71);
}

.thumb-pin {
    color: #5EA4CC;
}

.note-checkbox {
    float: left;
}

.expand {}

.one {
    float: right;
    opacity: .7;
    font-family: cursive;
}

.fa-search {
    position: absolute;
    margin-top: -1.8%;
    margin-left: 8%;
}

.fl-right {
    float: right;
}

.fa-expand {
    position: absolute;
    margin-left: 16.8%;
    margin-top: 1%;
}

.note-app-head {
    float: left;
    width: 94%;
    border-bottom: 1px solid gray;
    opacity: .7;
    padding: 10px 15px;
}

.note-text {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bolder;
    font-family: sans-serif;
    font-size: xx-large;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    overflow: hidden;
}

.fa-star-1 {
    float: right;
    position: absolute;
    margin-left: 32%;
    margin-top: -2.5%;
    font-size: x-large !important;
    color: gray;
}

.nav-bar-2 {
    float: left;
    width: 100%;
}

.li-2 {
    padding: 20px 16px !important;
}

.f-list-2 {
    margin-top: -7%;
    margin-left: 11%;
    padding-top: 12px;
}

.li-2:last-child {
    border-bottom: 2px dotted rgba(128, 128, 128, 0.38);
}

.bg-blue {
    color: #579FC9;
}

.add-sub-div {
    float: left;
    height: 8%;
    width: 88%;
    /*background-color: azure;*/
    font-family: sans-serif;
    font-size: x-large;
    color: #717171;
    margin-left: 6%;
    margin-top: 4%;
    border-radius: 2px;
    /* box-shadow: 0 4px 6px -3px #959595; */
}

.add-sub-plus-div {
    box-shadow: 0 4px 6px -3px #959595;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid rgba(128, 128, 128, 0.33);
    float: left;
    padding: 2%;
}

.add-sub-plus-div:hover {
    color: #17D0EE !important;
}

.subtask-text-input {
    box-shadow: 0 4px 6px -3px #959595;
    width: 32%;
    height: 6.8%;
    border: 1px solid rgba(128, 128, 128, 0.42);
    padding: 8px;
    padding-top: 9px;
    padding-bottom: 8px;
    position: absolute;
    margin-left: 2px;
}

.paper-clip {
    font-size: 16px;
    font-family: monospace;
    color: rgba(0, 0, 0, 0.61);
    float: left;
    background-image: url(../img/text.png);
    background-color: #EBEBEB;
    background-repeat: repeat;
    height: 40%;
    width: 88.6%;
    margin-left: 5.4%;
    margin-top: 7%;
    border: none !important;
    /*border: dashed 1px rgba(157, 157, 157, 0.79);*/
    box-shadow: 0 4px 6px -3px #959595;
}

.paper-text {
    position: absolute;
    font-size: x-large;
    font-family: monospace;
    color: rgba(0, 0, 0, 0.61);
    padding-left: 1%;
    margin-top: 2%;
}

.task-footer {
    float: left;
    width: 100%;
    float: left;
    height: 7%;
    color: gray;
    border-top: 1px solid rgba(128, 128, 128, 0.34);
    margin-top: 3%;
}

.fa-trash {
    float: left;
    font-size: x-large !important;
    margin-left: 2%;
    margin-top: 2%;
}

.fa-play {
    float: right;
    font-size: x-large !important;
    margin-right: 2%;
    margin-top: 2%;
}

.cl-blue {
    color: #60A6CD;
}

.opac-5 {
    opacity: .5;
}

.big-chkbox {
    width: 30px;
    height: 25px;
    margin-top: 20%;
}

.finished {
    font-family: sans-serif;
    font-size: large;
    color: rgba(245, 245, 245, 0.83);
    padding-right: 53%;
}

.mdm-chkbox {
    width: 20px;
    height: 16px;
    margin-top: 0%;
}

.fa-plus {
    opacity: .5;
}

textarea::-webkit-input-placeholder {
    font-family: sans-serif;
    font-size: large;
}

textarea:checked {
    border: none;
}

.total-text {
    float: right;
}

input::-webkit-input-placeholder {
    font-family: sans-serif;
    font-size: large;
}

@media (max-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .task-add-content {
        height: 36% !important;
    }
    .subtask-text-input {
        width: 30.6%;
        height: 2.8%;
        border: 1px solid rgba(128, 128, 128, 0.42);
        padding: 8px;
        padding-top: 9px;
        padding-bottom: 8px;
        position: absolute;
        margin-left: 2px;
    }
    .body-content {
        background-image: url(../img/woodbg.jpg);
        background-repeat: no-repeat;
        float: left;
        width: 75%;
        height: 91%;
        border-bottom-right-radius: 4px;
    }
}

.add-main-task-input {
    width: 90%;
    margin-left: 10%;
    padding: 4%;
    font-family: monospace;
    font-weight: bold;
    border-radius: 5px;
    background: transparent;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-top: -8%;
}

div ol {
    /*list-style-type: upper-alpha;*/
    height: 230px;
    margin-top: 0px;
    overflow: hidden;
    overflow-y: scroll;
}

.main-task-list {
    height: 40%;
    margin-top: 0px;
    overflow: hidden;
    overflow-y: scroll;
}

.main-task-plus {
    margin-top: 3%
}

.add-task-icon {
    padding: 16px;
}

input:focus {
    outline: none !important;
    border: none;
    /*border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;*/
}

ol li {
    font-family: monospace;
    font-size: large;
    font-weight: 600;
    color: #6f5e5e;
    padding: 12px 0px;
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}

.toaster-div {
    margin: 0;
    padding: 0;
    top: 20px;
    right: 40px;
    display: block;
    position: fixed;
    width: 250px;
    pointer-events: none!important;
    letter-spacing: normal;
    z-index: 9000!important;
    opacity: 1;
    transition: opacity 1s;
}

.toast-message {
    text-align: left;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 5px;
    border-radius: 4px;
    font-size: 12px;
    font-family: arial, sans-serif;
    line-height: 17px;
    position: relative;
    pointer-events: all!important;
    background-color: rgba(0, 0, 0, 0.61);
    color: #fff;
}

.toast-loader {
    transition: width 2.6s ease-in;
    background-color: rgb(140, 210, 253);
    display: block;
    position: absolute;
    top: -2px;
    height: 5px;
    width: 0;
    left: 0;
    border-radius: 5px;
}

.loaded {
    width: 100%;
}

.toaster-close {
    position: absolute;
    top: 3px;
    right: 7px;
    font-size: 14px;
    cursor: pointer;
}

div#fadeSource {
    opacity: 1;
    transition: opacity 1s;
}

div#fadeSource.fade {
    opacity: 0;
}

.fade {
    opacity: 0;
}

.fa-trash:hover {
    color: red;
}

.trigger,
#output {
    padding: 1em;
    margin: 0;
}


/*= Confirm Box */

#confirm-wrapper {
    width: 100%;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 1000000;
    display: none;
    transition: opacity 1s ease-in;
}

.hidden {
    display: none !important;
}

.strike {
    position: relative;
    width: 84%;
    height: 2px;
    background: rgba(0, 0, 0, 0.45);
    top: 11px;
    left: 0px;
    margin-left: 13%;
    float: left;
    z-index: 90000;
    margin-top: 0%;
}

.bg-red {
    color: red !important;
}

.p-r-20 {
    padding-right: 20px;
}

.p-l-20 {
    padding-left: 20px;
}

.big-strike {
    position: relative;
    width: 94%;
    height: 2px;
    background: rgba(0, 0, 0, 0.45);
    top: 31px;
    left: 0px;
    margin-left: 4%;
    float: left;
    z-index: 90000;
    margin-top: -3%;
}

#confirm-box {
    width: 300px;
    background: #fff;
    min-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

#confirm-buttons {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    padding-bottom: 1em;
}

#confirm-buttons button {
    display: inline-block;
    background: transparent;
    color: #000;
    font-size: 1em;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid;
    margin: 0 0.5em;
    padding: 0.6em 0;
    width: 120px;
}

#confirm-header {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2.5em 0 1.5em 0;
}

#confirm-header:after {
    content: ' ';
    display: block;
    width: 1em;
    border-top: 1px solid;
    margin: 0.4em auto;
}

.button {
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    color: #666;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    background: linear-gradient(top, #f5f5f5, #f1f1f1);
}